

body {
    background-color: darkred
}

h1 {
    color: rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 80px;

    
}

h2 {
    color: rgb(224, 217, 206);
    text-align: center;
    font-size: 50px;
}

p {
    color: rgb(196, 192, 186);
    text-align: center;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

